<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../style/style.css">
  <link rel="stylesheet" href="../style/font-awesome.css">
  <style>
    #fistbox{
        width: 58%;
        height: 60px;
        background-color:rgb(231, 200, 156);
        font-size: 15px;
        float: left;
        justify-content: center;
    }
    #fistbox p{
    margin-left:8%;
    }
     img{
        width: 40%;
        height: 60px;
        
        margin-right: 2%;
        float: right;
    
    }
    #secondbox{
        clear: both;
        float: left;
        display: flex;
    
    
    }
    #secondbox img{
    margin-left: 0px;
    margin-top: 30px;
    width: 40%;
    height: 50%;
    
    
    }
    #search{
        margin-left: 10px;
        width:200%;
        height: 30px;
        margin-top: 30px;
        border-radius: 50px;
        clear: both;
    }
    
    #navbar{
        background-color: black;
        
        width: 100%;
        height: 50px;
        clear: both;
        margin-top: 20px;
        display: flex;
        color: white;
       
    }
    #navbar p{
        margin-left: 80px;
    }
    #navbar a{
        color: white;
        text-decoration: none;
    }
    #margin{
        clear: both;
        
        width: 100%;
        height: 10px;
    }
    #threebox{
        margin: 2px;
        background-color:white;
        width: 15%;
        height: 500px;
        display: flex;
        float: left;
        margin-left: 120px;
        display: block;
    }
    #threebox a{
        color: black;
        text-decoration:none ;
        
    }
    #threebox a:hover{
        color: pink;
         text-decoration:underline;
        
    }
    #threebox a:active{
        color:red;
         text-decoration:underline;
        
    }
    

    #threebox h2{
       width: 100%;
        margin-left: 10px;
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    #threebox p{
        
       text-align: left;
        margin-left: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       
    }
    
    #fourbox{
        margin: 2px;
        margin-left: 10px;
        background-color:white;
        margin-left: 10px;
        width: 75%;
        height:100px;
        display: flex;
        
    }
    #box{
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
        width: 20%;
        height: 40px;
        background-color:white;
        position: static;
        transform: translate(-50%,-50%,-50%,-50%);
        display: flex;
        box-shadow:0 0 3px black, 0 0 2px black;
        
        line-height: 6px;
        padding-top: 0px;
        padding-left: 10px;
        padding-bottom: 0px;
        
    }
    #res{
        float: left;
    }
    #sort{
        width: 10%;
        float:right;
        margin-right: 100px;
        font-size: 20px;
    }
    #select{
        
        font-size: 15px;
        background-color: white;
    }
     #sixbox{
        background-color: white;
        width: 76%;
        height: auto; 
        
        display: grid;
        grid-template-columns: 22%22% 22% 22%;
        grid-template-rows:auto;
        grid-gap: 50px;
        grid-column-end: span 3;
        
        
        
        
    } 
    #productsmobile{
        width: 80%;
        height: auto;
        background-color:white;

    }
    #productsmobile img{
        float: left;
        width: 110%;
        height: 80%;
        margin-top: 10px;

    }
    #footer{
           width: 100%;
           margin-top: 100px;
           background-color: black;
           height: 900px;
           display:block;
         }
         #f{
          display: flex;
          float: left;
        }

        #ft1{
          margin-top: 10px;
       
          clear: both;
          float: left;
          color: white;
          line-height: -0px;
          margin-left: 10px;
          display: flex;
          
        }
        #ft1 img{
          margin-left: 150px;
          width:10%;
          margin-right: 15px;
          height: 30px;
          margin-top: 15px;
        }
        #ft1r{
          float: right;
        }
       
        #line{
          height: 0.12px;
          width: 78%;
          background-color: rgb(235, 217, 217);
          display: block;
          float: left;
          margin-left: 10%;
          margin-top: 50px;
        }
        #about{
          display: block;
          color: white;
          display: block;
         float: left;
         margin-left: 100px;
         margin-top: 40px;
        }
        #footerb {
          float: right;
          margin-right: 100px;
          margin-top: 10px;
          display: flex;
          color:wheat;


        }
        #footerb img{
          width: 50px;
          height: 50px;
          display: flex;
          margin: 30px;
        }
    
    
    
    </style>
  </head>
<body>
  <div>
   <div id="fistbox">
    <p>Get 4x points on foundation with code 4XPOINTS.* Plus, free shipping with code FREESHIP</p>
   
   </div>
   
  <img src="https://www.sephora.com/contentimages/homepage/101221/Homepage/DesktopMweb/2021-10-25-hp-persistent-banner-foundation-mbc-4x-points-us-ca-desktop-slice.jpeg?imwidth=612">
</div>
<div>
<div id="secondbox">
  <div>
  <a href="/home"><img src="https://www.sephora.com/img/ufe/logo.svg"></a>
  
</div>
<div id="sec"><input type="text" id="search" >

 
</div>

  </div>
  </div>
  <div id="margin"></div>
  <div id="navbar">
   <a> <p>New</p></a>
    <a><p>Back ground</p></a>
    <a href="/makeup"><p>Makeup</p></a>
    <a href="makeup.html"><p>Skincare</p></a>
    <a><p>Hair</p></a>
    <a><p>Tools&Brushes</p></a>
  <a> <p>Bath&body</p></a>
  <a><p>Mini size</p></a>
  <a> <p>Gifts</p></a>
  <a href="/cart"><p>Cart</p></a>
  </div>
  <div id="margin"></div>
 <div id="threebox">
     <div><h2>Makeup</h2></div>
     <a href=""><p>Face(274)</p></a>
     <a href=""><p>Eyes(187)</p></a>
     <a href=""><p>Lips(798)</p></a>
     <a href=""><p>Cheek(28)</p></a>
     <a href=""><p>Gifts&values(278))</p></a>
     <a href=""><p>Bruches(237)</p></a>
     <a href=""><p>Nails(45)</p></a>
     <a href=""><p>Vegan(58)</p></a>
     <a href=""><p>MiniSize(89)</p></a>

 </div>
 <div id="fourbox">
     <div id="box">
         <p>New</p>
     </div>
     <div id="box">
        <p>Best Seller</p>
    </div>
    <div id="box">
        <p>Clean</p>
    </div>
    <div id="box">
        <p>Vegan</p>
    </div>
    <div id="box">
        <p>Min Size</p>
    </div>
    <div id="box">
        <p>Lip Quiz</p>
    </div>
   
 </div>
 
 <div id="fivebox">
    <div id="res">
        <p>196 Results</p>
   
    </div>
    <div id="sort"><label for="sort">Sort</label>

        <select name="cars" id="select">
          <option value="">Relavent</option>
          <option value="saab">Low To High</option>
          <option value="mercedes">High To low</option>
          <option value="audi">New</option>
          <option value="audi">Top Rated</option>
        </select></div>
 </div>
 
<div id="sixbox">
   
        <% product.forEach(function (product) {%>
            <div id="productsmobile" >
               <img src=<%=product.image%>>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
             <p><%=product.details%></p>
             <p>$ <%=product.price%></p>
             
             <form action="/cart" method="post">
                <input type="hidden"  name="brand" value=<%= product.brand %>>
                <input type="hidden" name="price" value=<%= product.price %>>
                <input type="hidden"  name="image" value=<%=product.image%>>
                <input type="hidden" name="rating" value=<%= product.rating %>>
                <input type="hidden" name="details" value=<%= product.details %>>
                <input type="hidden" name="details1" value=<%= product.details1 %>>
                <input type="hidden" name="ingredients" value=<%= product.ingredients%>>
                <input type="hidden" name="about" value=<%= product.about %>>
               
      
                <div id="cart_id"><input  id="jbtn" type="submit" value="Add to cart" ></div>
               </form>
    
             </div>
             
             
           <% }) %>
        </div>
        

</div>
<footer id="footer">
    <div id="f">
  <div id="ft1">
    <img src="https://www.sephora.com/img/ufe/icons/find-store.svg">
    <div id="ft1r"><h5>Find a store</h5>
      <p4>chose your store</p4></div>
  </div>
  <div id="ft1">
    <img src="https://www.sephora.com/img/ufe/icons/call.svg">
    <div id="ft1r"><h5>jaswanth</h5>
      <p4>7306711116</p4></div>
  </div>
  
  <div id="ft1">
    <img src="https://www.sephora.com/img/ufe/icons/app.svg">
    <div id="ft1r"><h5>Get the app</h5>
      <p4>call to 43</p4></div>
  </div>
  <div id="ft1">
    <img src="https://www.sephora.com/img/ufe/icons/cc-outline-ko.svg">
    <div id="ft1r"><h5>Credit card </h5>
      <p4>15% Off</p4></div>
  </div>
  </div>
  <div id="line"></div>
  <div id="about"><h4>About Sephora</h4>
  <p>About Sephora</p>
  <p>Carers</p>
  <p>Newsroom</p>
  <p>Sephora Socal impact</p>
  <p>Affliates</p>
  <p>Sephora Events</p>
  <p>Gift Cards</p>
  <p>Sephora Gobal Site</p>
  <p>Diversite And Inclusion</p>
  <p>Check Out In Instragram</p>
  <p>Sephora Accelatate</p>
  <p>Report  Vulnerablity</p></div>
  <div id="about"><h4> Sephora</h4>
    <p>Beuaty inside</p>
    <p>Sephora Credit card</p>
    <p>Community Profile</p>
    <p>Purchase History</p>
    <p>Account Detils</p>
    <p>Bueaty Advise</p>
    <p>Bueaty Offer</p>
    <p>Quizzes & Buying</p>
    <p>Reward Bazzer</p>
    <p>Lovers</p>
    <p>Book  Reservation</p>
    </div>
    <div id="about"><h4> Help</h4>
      <p>Custmor Service</p>
      <p>reetun and exchange</p>
      <p>Delivery options</p>
      <p>Shipping</p>
      <p>Billing</p>
      <p>International shippment</p>
      <p>Bueaty Service FAC</p>
      <p>Quizzes & Buying</p>
      <p>sephora at kohi'l</p>
      <p>online order</p>
      <p>kalma</p>
      </div>
      <div id="about">
        <h4> REGION & LANGUAGE</h4>
        <p>United state - eng</p>
        <p>canada -eng</p>
        
        </div>
        <div id="line"></div>
        <div id="footerb">
  <img src="https://www.sephora.com/img/ufe/icons/instagram-ko.svg">
  <img src="https://www.sephora.com/img/ufe/icons/facebook-ko.svg">
  <img src="https://www.sephora.com/img/ufe/icons/twitter-ko.svg">
  <img src="https://www.sephora.com/img/ufe/icons/youtube-ko.svg">
        </div>
        
  </footer>
</body>

</html>
